body{
    background: black;
    text-align: center;
  }
  
  #main{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background: #f2cc91;
  }
  
  
  #title{
    font-size: 44px
  }
  
  #sub-title{
    font-size: 20px;
  }
  
  #img-div{
    background: #f2ddbd;
    padding: 15px;
    margin: 0;
  }
  
  img {
    max-width: 100%;
    width: 30vw;
    display: block;
    height: auto;
    margin: 0 auto;
    margin-top: 25px;
  }
  
  #info{
    padding: 20px 0 25px 0
  }
  
  ul{
    max-width: 550px;
    text-align: left;
    line-height: 1,6;
    margin: auto;
  }
  
  li{
    margin: 16px
  }
  
  #closing{
    padding: 15px;
    background: #f2ddbd;
  }
  
  h3 a{
    color: black;
    text-decoration: none;
    transform: none;
  }
  
  h3 a:hover{
    color: rgb(76, 88, 197);
    transform: .4s;
    cursor: pointer;
  }